{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/effects.js" defer></script>
{% endblock head %}

{% block title %}
    MagicForms
{% endblock title %}

{% block content %}
    <main>
        <div class="aside-left">
            <img src="/static/src/Wizard.png" alt="Mage">
        </div>
        <div class="main-content">
            <h2 id="hover-title">Bem vindo ao MagicForms</h2>
            <p>O sistema para criação de formularios dinamicos e personalizados.</p>
            <div class="actions">
                <a href="" id="btn-createForm">Criar um Formulário</a>
                <a href="" id="btn-Forms">Ver meus Formulários</a>
            </div>
        </div>
        <div class="aside-right">
            <img src="/static/src/Wizard.png" alt="Mage">
        </div>
    </main>
{% endblock content %}