{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/sobre.css">
{% endblock head %}

{% block title %}
    Sobre
{% endblock title %}

{% block content %}
    <main>
        <h2>Sobre</h2>
        <p>O MagicForms é um sistema de criação de formulários online, semelhante ao Google Forms, que permite ao usuário criar e editar formulários. Esse projeto foi desenvolvido como trabalho final da disciplina de Programação Web, por Pedro Henrique Braga Melo durante o 3° semestre do curso de Analise e Desenvolvimento de Sistemas, utilizando Flask para o backend, juntamente com a Peewee ORM para a manipulação do banco de dados em PostgreSQL, sendo o frontend desenvolvido em HTML, CSS e JavaScript.</p>
    </main>
{% endblock content %}