@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --background-color: #252525;
    --primary-color: #2F184B;
    --secondary-color: #532B88;
    --tertiary-color: #9b72cf;
    --quaternary-color: #c8b1e4;
    --quinary-color: #f4effa;
    --title-font: 'Inknut Antiqua', sans-serif;
    --text-font: 'Poppins', sans-serif;
}

main{
    width: 85rem;
    margin-block: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: var(--title-font);
    font-size: 2rem;
}

.form-list-placeholder{
    width: 90%;
    margin-inline: auto;
    margin-block: 2.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, auto);
    justify-items: center;
    align-items: center;
    background-color: var(--background-color);
    height: 5rem;
    border: var(--tertiary-color) solid 2px;
    border-radius: 10px;
    font-family: var(--title-font);
    font-size: 1rem;
}

#form-id-placeholder,
#form-id{
    grid-column: span 1;
}

#form-desc-placeholder,
#form-desc{
    grid-column: span 3;
}

.form-list-placeholder h3,
.list-item-form p,
.form-options{
    grid-column: span 2;
}

.list-item-form{
    width: 90%;
    margin-inline: auto;
    margin-block: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, auto);
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 5rem;
    border: var(--tertiary-color) solid 2px;
    border-radius: 10px;
    font-family: var(--text-font);
    font-size: 1rem;
}

.list-item-form{
    text-wrap: wrap;
}

.form-options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-options a:hover {
    filter: drop-shadow(3px 3px 25px rgba(0, 0, 0, 0.5));
    scale: 1.1;
    transition: ease-in-out 0.5s;
}

#form-list{
    width: 100%;
}

#form-desc{
    font-size: 0.6rem;
}

@media(1200px <= width <= 1919px) {
    
    main{
        width: 75rem;
    }
    .form-options img{
        width: 1.8rem;
    }
}
@media(992px <= width <= 1199px) {
    main{
        width: 60rem;
    }
    .form-options img{
        width: 1.5rem;
    }
}

@media(768px <= width <= 991px) {
    main{
        width: 45rem;
    }
    p{
        font-size: 0.9rem;
    }
    .form-options img{
        width: 1.4rem;
    }
}

@media(600px <= width <= 767px) {
    main{
        width: 35rem;
    }

    p{
        font-size: 0.8rem;
    }

    .form-options img{
        width: 1.3rem;
    }

}

@media(376px <= width <= 599px) {
    main{
        width: 90%;
    }
    p{
        font-size: 0.6rem;
    }
    .form-options img{
        width: 1.2rem;
    }
}

@media(max-width: 375px) {
    main{
        width: 800%;
    }
    p{
        font-size: 0.4rem;
    }
    .form-options img{
        width: 1.1rem;
    }
}
