@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --background-color: #252525;
    --primary-color: #2F184B;
    --secondary-color: #532B88;
    --tertiary-color: #9b72cf;
    --quaternary-color: #c8b1e4;
    --quinary-color: #f4effa;
    --title-font: 'Inknut Antiqua', sans-serif;
    --text-font: 'Poppins', sans-serif;
}

main{
    width: 100%;
    display: flex;
    padding: 5rem;

}

.main-content{
    margin-inline: 2rem;
    width: 45rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content img{
    width: 200px;
}

.main-content h2{
    font-family: var(--title-font);
    font-size: 2rem;
}

.main-content p{
    font-family: var(--text-font);
    font-size: 0.8rem;
    text-align: justify;
    color:  var(--tertiary-color);
}

.aside-left{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    transition: ease-in-out 0.5s;

}

.aside-right{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    transition: ease-in-out 0.5s;
}


.aside-left:hover,
.aside-right:hover{
    filter: drop-shadow(3px 3px 15px var(--primary-color));
    scale: 1.05;
    transition: ease-in-out 0.5s;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
}

#btn-createForm{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--quinary-color);
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 2px var(--tertiary-color);
    font-family: var(--title-font);
    font-size: 1rem;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

#btn-Forms{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--quinary-color);
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 2px var(--tertiary-color);
    font-family: var(--title-font);
    font-size: 1rem;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

#btn-createForm:hover,
#btn-Forms:hover{
    scale: 1.05;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

@media(1200px <= width <= 1919px) {
    .aside-left img,
    .aside-right img{
        width: 300px;
    }
    .actions{
        flex-direction: column;
        width: 15rem;
        gap: 0.5rem;
    }
    .main-content{
        width: 40rem;
    }
}
@media(992px <= width <= 1199px) {
    .aside-left img,
    .aside-right img{
        width: 150px;
    }
}

@media(768px <= width <= 991px) {
    
}

@media(600px <= width <= 767px) {
    
}

@media(376px <= width <= 599px) {
    
}

@media(max-width: 375px) {
    

}