@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


:root{
    --background-color: #252525;
    --primary-color: #2F184B;
    --secondary-color: #532B88;
    --tertiary-color: #9b72cf;
    --quaternary-color: #c8b1e4;
    --quinary-color: #f4effa;
    --title-font: 'Inknut Antiqua', sans-serif;
    --text-font: 'Poppins', sans-serif;
}

main{
    width: 45rem;
    margin-top: 4.5rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: var(--title-font);
    font-size: 2rem;
    text-align: center;

}
p{
    font-family: var(--text-font);
    font-size: 0.8rem;
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
    margin-block: 2rem;
}

.form-question-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-question-container input[type="text"]{
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    color: var(--quinary-color);
    border: var(--tertiary-color) solid 2px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.form-question-container label{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.option-container{
    background-color: var(--background-color);
    border: var(--tertiary-color) solid 2px;
    border-radius: 5px;
    padding: 1rem;
}