{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/magicform.css">
{% endblock head %}

{% block title %}
    MagicForms - Form
{% endblock title %}

{% block content %}
    <main>

        {% if form %}
            <h2 id="form-title" data-id="{{form.id}}">{{form.form_title}}</h2>

            <form action="" id="magicform">

                <div class="form-header">
                    <div class="input-container">
                        <label for="title">Titulo:</label>
                        <input type="text" name="title" id="title" value="{{form.form_title}}" required>
                    </div>
        
                    <div class="input-container" id="description-container">
                        <label for="description">Descrição:</label>
                        <textarea name="description" id="description">{{form.form_description}}</textarea>
                    </div>
                    
                    <img src="/static/src/logo.png" alt="logo">
                </div>
    
                <div class="form-actions">
                    <input type="submit" value="Enviar" id="btn-submit">
                    <input type="button" value="Adicionar Campo" id="btn-addField">
                </div>
            </form>

        {% else %}
            <h2>Criar Formulário</h2>
            <form action="" id="magicform">

                <div class="form-header">
                    <div class="input-container">
                        <label for="title">Titulo:</label>
                        <input type="text" name="title" id="title" required>
                    </div>
        
                    <div class="input-container" id="description-container">
                        <label for="description">Descrição:</label>
                        <textarea name="description" id="description" ></textarea>
                    </div>
    
                    <img src="/static/src/logo.png" alt="logo">
                </div>
    
                <div class="form-actions">
                    <input type="submit" value="Enviar" id="btn-submit">
                    <input type="button" value="Adicionar Campo" id="btn-addField">
                </div>
            </form>
    
        {% endif %}

        
    </main>
{% endblock content %}